.xui-keyStroke {	
	position: relative;	
	display: inline-block;
}

.xui-keyStroke input {
	background-color: #393939;
	border: none;
	color: #CCCCCC;
	width: 215px;
	padding: 1px 20px 1px 5px;
	font-size: 12px;	
	line-height: 17px;
	height: 24px;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	border: 1px solid #040404;
	cursor: default;	
	outline: none;
}

.xui-keyStroke input:disabled {		
	color: #666666;
	background-color: #292929;
}

.xui-keyStroke input:hover {			
	background-color: #464646;
}

.xui-keyStroke input:focus {		
	background-color: #505050;
}

.xui-keyStroke.isEmpty input {
	color: #888888;
	background-color: #393939;
}

.xui-keyStroke.isEmpty input:disabled {		
	color: #464646;
}

.xui-keyStroke.isEmpty input:focus {		
	background-color: #505050;
}

.xui-keyStroke.isEmpty input:hover {		
	background-color: #464646;
}

.xui-keyStroke input:focus + button[name=delete],
.xui-keyStroke input:hover + button[name=delete]
{
	background-image: url("../images/field-delete-(normal).svg");
}

.xui-keyStroke button[name=delete] {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: none;
	background-color: transparent;	
	margin-left: -15px;
	padding: 0;
	outline: none;
}

.xui-keyStroke button[name=delete]:hover,
.xui-keyStroke input:focus + button[name=delete]:hover
 {	
	background-image: url("../images/field-delete-(hover).svg");	
}